<% provide(:title, "このサイトについて") %>
<h1>どういうアプリ？</h1>
<p>
  このアプリは団体や組織の出欠管理を効率化するために作られました。<br>
  出欠管理を一人ひとりに聞いていくのは非効率であり、さらにそれをまた人が管理しまとめなおすのは大変面倒くさいことでした。<br>
  そこでこのアプリを利用することでそのような問題が解決されます。ぜひご利用ください。
</p>
