<h1>パスワードリセット</h1>
<p>下記のリンクをクリックしてアカウントを有効化してください：</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                           email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>