<% provide(:title, "グループ作成") %>
<% provide(:url, groups_path) %>
<% provide(:button_text, "グループを作成") %>

<h1>グループ作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/group_form' %>
  </div>
</div>