<% s_date = @event.start_date %>
<% e_date = @event.end_date %>
<% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
<p class="date">開始日：<%= s_date.strftime("%Y/%m/%d(#{wd[s_date.wday]})") %></p>
<p class="date">終了日：<%= e_date.strftime("%Y/%m/%d(#{wd[e_date.wday]})") %></>