<% provide(:title, "イベント編集") %>
<% provide(:url, event_path(url_token: @event.url_token)) %>
<% provide(:button_text, "変更を保存する") %>

<h1>イベント編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render 'shared/event_form' %>
  </div>
</div>